@import "general.css";
@import "login.css";

/* .form-control {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
} */

.form-control {
  border: 0.1rem solid #ced4da;
  border-collapse: collapse;
  box-shadow: 0 0 0 0.1rem transparent;
}

.form-control:focus {
  border: 0.1rem solid #ced4da;
}

.form-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1rem 2rem 2rem rgba(120, 83, 83, 0.12);
  width: 35%;
  height: auto;
  padding: 2.4rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  transform: scale(1.3);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  /* justify-content: center; */
  gap: 1.2rem;
  width: 100%;
  font-size: 1.4rem;
}

.width {
  grid-column: 1/-1;
  width: 100%;
}

.form-control {
  border-top-right-radius: 9px !important;
  border-bottom-right-radius: 9px !important;
}

.input-group-text {
  font-size: 1.4rem;
  border-top-left-radius: 9px !important;
  border-bottom-left-radius: 9px !important;
}

.input-group {
  height: 25%;
}

.title {
  grid-column: 1/-1;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
}

.logo {
  width: 25%;
  margin-bottom: -1rem;
}

.btns {
  display: flex;
  width: 100%;
  grid-column: 1/-1;
  gap: 1.2rem;
}

.btn-primary {
  width: 200%;
}

.btn-outline-primary {
  width: 100%;
}
